<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047931177971-34sbpsjvqhhg43eqhlat2r2hkbrdo3uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047931177971-34sbpsjvqhhg43eqhlat2r2hkbrdo3uj</string>
	<key>API_KEY</key>
	<string>AIzaSyAHHJbe1joESFH3crzZelhqno7WHehmkqo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047931177971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-flutter-1212</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-flutter-1212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047931177971:ios:18f1aada00abb03dc86086</string>
</dict>
</plist>